<section id="portofolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our <span>projects</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-card class="projects-card">
          <img
            mat-card-image
            src="../../assets/pexels-allan-franca-carmo-3465604.png"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              arcu nisl, hendrerit et elementum non, mollis nec urna. Nulla
              dignissim dui neque, eget interdum nulla pulvinar non.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>More details</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card class="projects-card">
          <img
            mat-card-image
            src="../../assets/pexels-daan-stevens-939331.png"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
              arcu nisl, hendrerit et elementum non, mollis nec urna. Nulla
              dignissim dui neque, eget interdum nulla pulvinar non.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button>More details</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="more-projects">
          <h2>More <span> projects</span></h2>
        </div>
      </div>
    </div>
  </div>
</section>
