<mat-dialog-content>
  <div class="container">
    <h1>Project title</h1>
    <div class="row">
      <div class="col-md-9">
        <p class="project-description">
          Architecture non lorem ac erat suscipit bibendum. Nulla facilisi.
          Sedeuter nunc volutpat, mollis sapien vel, conseyer turpeutionyer
          masin libero sempe. Fusceler mollis augue sit amet hendrerit
          vestibulum. Duisteyerionyer venenatis lacus. Villa gravida eros ut
          turpis interdum ornare. Interdum et malesu they adamale fames ac
          anteipsu pimsine faucibus. Curabitur arcu site feugiat in tortor in,
          volutpat sollicitudin libero.
        </p>
      </div>
      <div class="col-md-3">
        <ul>
          <li><span>Year:</span> 2023</li>
          <li><span>Company:</span> Anton SRL</li>
          <li><span>Project name:</span> Anton's Garden</li>
          <li><span>Location:</span> Tarnita</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img
          src="../../../assets/pexels-lisa-fotios-1090638.png"
          alt=""
        />
        <img src="../../../assets/pexels-lisa-fotios-1090638.png" alt="" />
      </div>
      <div class="col-md-12">
        <img src="../../../assets/pexels-lisa-fotios-1090638.png" alt="" />
        <img src="../../../assets/pexels-lisa-fotios-1090638.png" alt="" />
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>
