<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>RDesign</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img
          src="../../assets/rdesignlogo-removebg-preview.png"
          alt="RDesign Logo"
          width="80"
          height="80"
        />
      </div>
      <div class="navbtns">
        <ul>
          <li><a (click)="onClickScrollToHome()">HOME</a></li>
          <li><a (click)="onClickScrollToServices()">SERVICES</a></li>
          <li><a (click)="onClickScrollToPortofolio()">PORTOFOLIO</a></li>
          <li><a (click)="onClickScrollToContactUs()">CONTACT</a></li>
        </ul>
      </div>
    </nav>

    <app-home id="home"></app-home>
    <app-services id="services"></app-services>
    <app-portofolio id="portofolio"></app-portofolio>
    <app-contact id="contact-us"></app-contact>
    <app-footer></app-footer>
  </body>
</html>
