<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our <span>Services</span></h2>
        <p>
          At RDesign, we offer a range of interior design services to help you
          create the perfect space for your home or business. Our experienced
          designers will work with you to understand your vision and bring it to
          life.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-item">
          <img src="../../assets/home_1001327.png" alt="" />
          <h3>Color Consultation</h3>
          <p>
            Our color experts will help you choose the perfect palette for your
            space, taking into account your personal style and the mood you want
            to create.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <h3>Furniture Selection</h3>
          <!-- <img src="../../assets/interior-design_1973945.png" alt="" /> -->
          <div class="image" style="display: flex; justify-content: center">
            <img src="../../assets/interior-design_1973945.png" alt="" />
          </div>
          <p>
            We'll help you choose the right furniture pieces to fit your space
            and style, from sofas and chairs to tables and accessories.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <h3>
            Lighting Design
            <img src="../../assets/staircase_2984948.png" alt="" />
          </h3>

          <p>
            Our lighting experts will help you create the perfect ambiance for
            your space, with a range of lighting options to suit your needs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
